services:
  qdrant:
    container_name: qdrant
    image: qdrant/qdrant:latest
    volumes:
      - ./qdrant_storage:/qdrant/storage
    ports:
      - "6333:6333"
      - "6334:6334"
    restart: always
    networks:
      - gr_network

  app:
    container_name: gradio
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - qdrant
    env_file:
      - .env
    environment:
      - PYTHONUNBUFFERED=1
    ports:
      - "7860:7860"
    networks:
      - gr_network

networks:
  gr_network:
    driver: bridge
